body{
    margin: 0;
    font-family: Inconsolata;
    background-color: #c3c3c3;
}

span{
    color: #8886F2;
}

.header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0px;
    background: rgb(189, 188, 188);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 24px;
    width: 130px;
    height: 40px;
    left: 90px;
    top: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: black;
    text-decoration: none;
}
.undo-ico{
    position: absolute;
    left: 30px;
    width: 24px;
    height: 24px;
}

/*Create post*/
.post-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1900px;
    height: 865px;
    left: 10px;
    top: 60px;
    background: #ffffff;
    box-shadow: 0px px 5px black;
}
.post-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    height: 33px;
}
.ex-ico{
    padding: 15px;
    width: 24px;
    height: 24px;
}

/*Заголовок поста*/
.title-post{
    width: 800px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    background: #D9D9D9;
    border: none;
}
/*Main post*/
.d-post{
    width: 1000px;
    height: 550px;
    background: #D9D9D9;
    border: none;
}
.description-post{
    width: 100px;
    height: 30px;
    background: #D9D9D9;
    border: none;
}
.description-post:focus-visible{
    border: nm;
}
.button-post{
    position: relative;
    top: 45px;
    width: 150px;
    height: 30px;
    border: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    background: #8886F2;
    transition: all 200ms ease 0ms;
}
.button-post:hover{
    cursor: pointer;
    transition: all 200ms ease 0ms;
    box-shadow: 0px 0px 30px  #8886F2;
}
.button-post:active{
    transition: all 200ms ease 0ms;
    background-color: #484781;
    box-shadow: 0px 0px 20px  #8886F2;
}