body{
    margin: 0;
    font-family: Inconsolata;
    background-color: #C3C3C3;
}
span{
    color: #8886F2;
}
.main{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50px;
    height:94vh;
    width: 100%;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/*Under header*/
.under-head{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 35px;
}
/*Dev.dv*/
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 24px;
    width: 230px;
    height: 40px;
    left: 840px;
    top: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
}
/*Notification*/
.notification{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1385px;
    top: 8px;    
}
.notification:hover{
    cursor: pointer;
}
/*Create button*/
.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    position: absolute;
    top: 44px;
    width: 100px;
    height: 25px;
    transition: all 200ms ease 0ms;
}
.create-button:hover{
    cursor: pointer;
    text-decoration:underline;
    color: #000000;
    box-shadow: 0px 0px 15px#969696;
    border: 1px solid #000000;
    background-color: #969696;
}
/*Home button*/
.home-button{
    background-color: white;
    width: 100px;
    height: 25px;
}
/*Search*/
.search-head{
    position: absolute;
    width: 300px;
    height: 30px;
    left: 1250px;
    top: 5px;
    background: #c3c3c3;
    border: none;
    padding-left: 10px;
}
.search-icn{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1515px;
    top: 8px;
}
.search-icn:hover{
    cursor: pointer;
}

/*Login button*/
.login{
    display: flex;
    align-items: center;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: black;
    text-decoration: none;
    width: 69px;
    height: 24px;
    left: 1800px;
    top: 8px;
}


/*Main block*/
.container{
    margin: 25px;
    position: absolute;
    height: 92vh;
    width: 1800px;
    background-color: white;
}

/*switch button
.switch{
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 5px;
    width: 60px;
    height: 20px;
}
.switch-input{
    height: 0;
    width: 0;
    opacity: 0;
}

.switch-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #777777;
    transition: 0.2s;
}

.switch-slider::before{
    content: "";
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 5px;
    height: 10px;
    width: 25px;
    background-color: white;
    transition: 0.2s;
}
.switch-input:checked + .switch-slider{
    background-color: black;
}

.switch-input:checked + .switch-slider::before{
    transform: translateX(25px);
}
*/

