body{
    margin: 0;
    font-family: Inconsolata;
    background-color: #C3C3C3;
}
span{
    color: #8886F2;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/*Dev.dv*/
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 24px;
    width: 130px;
    height: 40px;
    left: 440px;
    top: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
}
/*Notification*/
.notification{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1420px;
    top: 15px;    
}
.notification:hover{
    cursor: pointer;
}
/*Create button*/
.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4E8AFF;
    color: #4E8AFF;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 1270px;
    top: 9px;
}
.create-button:hover{
    cursor: pointer;
    text-decoration:underline;
    color: white;
    background-color: #4E8AFF;
}
/*Search*/
.search-head{
    position: absolute;
    width: 300px;
    height: 30px;
    left: 760px;
    top: 10px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
}
.search-icn{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1030px;
    top: 15px;
}
.search-icn:hover{
    cursor: pointer;
}

/*Login button*/
.login{
    display: flex;
    align-items: center;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: black;
    text-decoration: none;
    width: 69px;
    height: 24px;
    left: 1811px;
    top: 13px;
}

/*Left menu block*/

.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 600px;
    left: 400px;
    top: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.menu p {
    padding-left: 10px;
}
/*Left menu icons*/

.home,.posts,.guides,.friends,.messages,.sponsors{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
}
.home p:hover,.posts p:hover,.guides p:hover,.friends p:hover,.messages p:hover,.sponsors p:hover{
    text-decoration: underline;
}

/*Main block*/
.container{
    position: absolute;
    width: 600px;
    height: 850px;
    left: 610px;
    top: 65px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*New posts block*/
.new-posts{
    position: absolute;
    width: 200px;
    height: 600px;
    left: 1220px;
    top: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}